<app-parent1></app-parent1>
<p>----------------------------- END here-------------------------------------</p>
 <app-parent2></app-parent2>
<p>----------------------------- END here-------------------------------------</p>
<app-parent3></app-parent3>
<p>----------------------------- END here-------------------------------------</p>
<app-parent4></app-parent4>
<p>----------------------------- END here-------------------------------------</p>
<app-parent5></app-parent5>
<p>----------------------------- END here-------------------------------------</p>
<app-parent6></app-parent6>
<p>----------------------------- END here-------------------------------------</p>
<app-parent7></app-parent7>
<p>----------------------------- END here-------------------------------------</p>
<p>----------------------------- END here-------------------------------------</p>
<p>----------------------------- END here-------------------------------------</p>
<p>----------------------------- END here-------------------------------------</p>
<router-outlet></router-outlet>
